.button {
  padding: 5px 15px;
  border: none;
  border-radius: 3px;
  background-color: var(--button-color-primary);
  color: var(--button-text-color-primary);
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  box-shadow: inset 0 0 5px 0 var(--button-color-shadow);
  font-size: 16px
}

.button:hover {
  background-color: var(--button-color-hover);
  opacity: 1;
}

.button:active {
  transform: translate(0, 5%);
  opacity: 0.9;
}

.button:disabled {
  background-color: var(--button-color-disabled);
  transform: none;
}

.button.active-filter {
  border: 1px solid var(--button-color-active);
}
