.tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tasks__item {
  display: flex;
  gap: 10px;
  align-items: baseline;
  justify-content: space-between;
}

.tasks__checkbox-text {
  display: flex;
  gap: 15px;
  align-items: baseline;
}

.tasks__text {
  word-wrap: break-word;
}

.tasks__text.completed {
  text-decoration: line-through;
  color: var(--text-completed-color);
}

.tasks__no-task {
  text-align: center;
}

.tasks-buttons {
  display: flex;
  gap: 5px;
}

.status-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.status-wrapper .button {
  width: 115px;
  flex-grow: 1;
}

.add-item-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.add-item__input,
.tasks__edit-input {
  border: none;
  outline: none;
  padding-inline: 15px;
  border-radius: 5px;
  height: 30px;
}

.add-item__input {
  flex-basis: 75%;
}

.tasks__edit-input {
  height: 25px;
  min-width: 0;
  width: 100%;

}

.add-item__input:focus,
.tasks__edit-input:focus {
  outline: 2px solid var(--input-focus-color);
}

.add-item__input.error,
.tasks__edit-input.error {
  outline: 2px solid var(--error-color-text);
}

.add-item-wrapper .button {
  padding: 0 30px;
}

.input-error {
  font-weight: 400;
  color: var(--error-color-text);
  margin-top: -15px;
  height: 20px;
}

.tasks-buttons .button {
  min-width: 80px;
}
