:root {
  --todo-bgc-color: #66bdaf;
  --todo-title-color: #ffffff;
}

.app-wrapper {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--todo-bgc-color);
  width: 500px;
  padding: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.todo-title h1 {
  text-align: center;
  font-size: 30px;
  color: var(--todo-title-color);
}
